.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.pricing-header {
  max-width: 700px;
}

.grid {
  max-width: 960px;
  margin: auto;
}

.footer {
  max-width: 960px;
  margin: auto;
}

.main {
  max-width: 960px;
  margin: auto;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  max-width: 936px;
}
